<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Oikoshi</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/lib/semantic.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('build/css/app_shared.css') }}" />
        {% endblock stylesheets %}
    </head>
    <body>
        {% include 'app/top_menu.html.twig' %}
        <div class="ui bottom attached">
            {% block content %}
            {% endblock content %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/lib/jquery.min.js') }}"></script>
            <script src="{{ asset('build/lib/semantic.min.js') }}"></script>
            <script src="{{ asset('build/js/app_shared.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>